body {
  font-family: Roboto, sans-serif;
}

h1 {
  text-align: center;
  color: var(--white-text);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
}

.fon-hero {
  background-color: var(--grey-fone);
}

.hero-button {
  padding: 0;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  font-family: inherit;
  background-color: var(--blu-text);
}

.button-text {
  text-align: center;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-text);
}

.list-advantages .advantages {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.list-advantages .list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-text);
}

.title {
  font-weight: 700;
  line-height: 1.16;
  color: var(--black-text);
  font-size: 36px;
}

.title-command {
  margin: 0;
}

.title-command .initials {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--black-text);
}

.title-command .profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--grey-text);
}

/* Стили для геометрии */

.list-advantages,
.title-img,
.title-command {
  display: flex;
}
